*{
  margin: 0;
  padding: 0;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px ;
  background-color: lightblue;
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
}

img{
  width: 350px;
  height: 350px;
}

.buttons{
  display: flex;
  margin-top: 25px;
  gap: 15px;
  justify-content: center;
}

.button{
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15pt;
  font-weight: 600;
  
}

.button:hover{
  cursor: pointer;
  box-shadow:  5px 5px 5px black;
  transition: all .3s ease-out;
}

.timer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer p{
  position: absolute;
  top: 300px;
  font-size: 40pt;
  margin: 0;

}